/* Basic styling */
/*-----------------------------------------------------*/
li {
  list-style-type: "🔲";
}
  /* 🔳 */

h1 {
  font-size: 475%;
  color: #222d30;
}

ul {
  font-size: 175%;
  color: #020525;
}

* {
  font-family: 'Franklin Gothic Medium',
               'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 30em) {
  * {
    color: #c73030
  }
}

button.deleteBtn {

  background-color: #ffae00;
  border-radius: 20em;
  border-color: #222d30;

  position: absolute;
  left: 100px;

}

button.deleteBtn:hover {
  
  background-color: #ac4d00;
  border-radius: 20em;
  transition: 0.15s;

}

button.deleteBtn:active {

  background-color: #440000;
  border-radius: 20em;
  border-color: #ffffff;
  transition: 0.15s;

}



/* body {

  background: rgb(164, 158, 197) url("/images/potato.jpeg")
               10px 10px repeat fixed;

} */


